@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Merriweather:wght@300;400;700&display=swap');

/* Custom CSS for the layout */
body {
    font-family: 'Montserrat', sans-serif; /* Set the default font */
    /*max-width: 1200px;*/ /* Set the maximum site width */
    margin: 0 auto; /* Center the content */
    padding: 0 0px; /* Add some padding to the sides */
    letter-spacing: 0.02em; /* Adjust letter spacing for body text */
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif; /* Ensure Montserrat font is applied */
    letter-spacing: -.03em; /* Adjust letter spacing for headings */
}

h1 {
    font-weight: 300; /* Light */
    font-size: 4.625rem; /* Headline size */
}

h2 {
    font-weight: 300; /* Light */
    font-size: 2.5rem; /* Subhead size */
}

h3 {
    font-weight: 400; /* Regular */
    font-size: 2rem; /* Title size */
}

h4 {
    font-weight: 400; /* Regular */
    font-size: 1.5em; /* Section tag size */
}

h5 {
    font-weight: 400; /* Regular */
    font-size: 1.25em; /* Section tag size */
}

p {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: .875rem;
    letter-spacing: 0.02em;
}

.caption {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; /* Regular */
    font-size: .875rem; /* Caption size */
    letter-spacing: 0.01em; /* Adjust letter spacing for captions */
}

.small-text {
    font-size: 0.8em; 
}

.very-small-text {
    font-size: 0.7em; 
}

/* Additional styles */
.header-logo {
    max-height: 25px;
}

.divider {
    border-left: 1px solid rgb(46, 46, 46); 
    height: 25px; 
    margin: 0 0px;
}

nav .navbar-nav {
    margin-left: auto; 
}

.navbar-border {
    border-top: 5px solid #b31b1b; /* 3px red border */
}

.header-graphic {
    width: 100%;
    max-height: 750px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the entire width */
    margin-bottom: 0; /* Remove bottom margin */
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    background-color: rgba(46, 38, 31, .6); /* Black with 50% transparency */
    backdrop-filter: blur(3px); /* For modern browsers */
    -webkit-backdrop-filter: blur(3px); /* For Safari */
    color: white;
    border-right: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: flex-start; /* Align items to the left */
    padding: 30px;
    box-sizing: border-box;
}

.header-overlay h1 {
    font-size: 3rem;
    margin: 0;
}

.header-overlay h2 {
    font-size: 2rem;
    margin: 0;
    text-align: left;
}

@media (max-width: 1024px) {
    .header-overlay {
        display: none;
    }

    .header-text {
        display: block !important;
        margin-bottom: 25px;
        text-align: left; /* Align text to the left */
        width: 100%; /* Full width */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }

    .header-text h1 {
        font-size: 2rem;
    }

    .header-text h2 {
        font-size: 1.5rem;
    }
}

.header-text {
    display: none;
}

.listen-live-button {
    position: absolute;
    bottom: 20px; 
    right: 20px; 
    background-color: #36824b; 
    color: white; 
    border: none; 
    border-radius: 20px; 
    padding: 10px 20px; 
    font-size: 1rem;
    display: flex; 
    align-items: center; 
    cursor: pointer; 
    z-index: 10; 
}

.listen-live-button i {
    margin-right: 5px; /* Space between icon and text */
}

.stat-row-container {
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}

.stat-row {
    background-color: #2e261f;
    color: white; 
    padding: 1px 30px; 
    text-align: center; 
    margin: 0; 
    /*max-width: 1200px;*/ 
    margin-left: auto; 
    margin-right: auto; 
}

.stat-column {
    padding: 5px; 
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
}

.h-spacer {
    margin: 0 10px; 
}

.v-spacer {
    margin: 10px 0; 
}

.main-content {
    padding: 30px;
    max-width: 1400px;
}

.species-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.species-image {
    max-height: 50px;
    max-width: 100%;
    object-fit: contain;
    border-radius: 5%;
    margin-right: 10px; /* Add some space between the image and the text */
}

.total-detections-bar {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.total-detections-bar-fill {
    height: 100%;
    background-color: #69A0C2;
}

.species-info, .species-plot {
    height: 50px; /* Set height to 50px */
}

@media (max-width: 768px) {
    .species-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .species-info, .species-plot {
        width: 100%;
        margin-top: 10px;
    }
}

.play-icon-overlay {
    position: absolute;
    bottom: 10px; 
    left: 15px; 
    font-size: 3em; 
    color: white;
    pointer-events: auto; 
    cursor: pointer; 
    z-index: 10; 
}

.info-icon-overlay {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
    color: white;
    pointer-events: auto;
    cursor: pointer;
    z-index: 10;
}

.card-title {
    font-size: 1em;
}

.card-subtitle {
    font-size: 0.75em;
}

.card-img-top {
    position: relative;
    width: 100%; /* Ensure the image takes the full width of the card */
    height: auto; /* Maintain aspect ratio */
}

.card-img-overlay .bi-play-circle-fill {
    pointer-events: auto; 
    cursor: pointer; 
}

.photo-author-overlay {
    position: absolute;
    bottom: 0px; 
    right: 0px;
    font-size: 0.5rem; 
    color: white; 
    background-color: rgba(46, 38, 31, 0.6); 
    padding: 2px 5px; 
    border-radius: 3px; 
    z-index: 10; 
}

.confidence-score {
    font-size: 1rem; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.confidence-score-container {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Stack the text and bar vertically */
}

.confidence-score-text {
    font-size: 1rem; 
    margin-bottom: 0; 
}

.confidence-score-bar {
    width: 100%;
    height: 5px;
    background-color: var(--color); /* Use the color based on the score */
    border-radius: 5px;
    margin-top: 5px;
    position: relative;
    overflow: hidden;
}

.confidence-score-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--value) * 1%);
    height: 100%;
    background-color: var(--color); /* Use the color based on the score */
}

.footer-logo {
    max-height: 50px;
}

.footer {
    background-color: #2e261f;
    padding: 20px;
    color: white;
    text-align: center;
    border-bottom: 5px solid #b31b1b;
}

.footer .footer-content {
    padding: 20px;
    max-width: 1024px;
}

.footer p {
    margin-top: 20px;
    text-align: center;
    font-size: .875rem;
    letter-spacing: 0.02em; /* Adjust letter spacing for footer paragraphs */
}

.footer .footer-logo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}










